@using CRUDProducts.UI.Models.Entitys
@model Product

<main class="vh-100">
    
    <div class="text-center mt-5 mb-5">
        <h1>New product</h1>
    </div>

    <div class="d-flex flex-column justify-content-center align-items-center">
        <form class="p-5 w-25">
            <div class="mb-3">
                <label class="form-label">Name</label>
                <input id="NAME_PRO" type="text" asp-for="NAME_PRO" class="form-control" />
            </div>

            <div class="mb-3">
                <label class="form-label">Stock</label>
                <input id="STOCK_PRO" type="text" asp-for="STOCK_PRO" class="form-control" />
            </div>

            <div class="mb-3">
                <label class="form-label">Value</label>
                <input type="text" asp-for="VALUE_PRO" class="form-control" id="numeroConComa" />
            </div>

            <button id="btnNew" type="submit" class="btn btn-primary w-100 mt-3">Submit</button>

        </form>
    </div>
</main>

<script src="~/js/NewProduct.js"></script>
