@using CRUDProducts.UI.Models.Entitys
@model Users

<body>

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <main>
        <form asp-action="Index">

            <div class="mb-3">
                <label asp-for="MAIL_USR" class="form-label">Email</label>
                <input type="text" asp-for="MAIL_USR" class="form-control" />
                <span asp-validation-for="MAIL_USR" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="PASSWORD_USR" class="form-label">Password</label>
                <input type="text" asp-for="PASSWORD_USR" class="form-control" />
                <span asp-validation-for="PASSWORD_USR" class="text-danger"></span>
            </div>  

            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>

            <div>
                <a asp-action="NewUser">Crear cuenta</a>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>

        </form>
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @section Scripts{
        <partial name="_ValidationScriptsPartial" />
    }

</body>
